/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}

.contenedor-raiz{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-light{
    color: darkgrey;
}

.negrita{
    color: black;
}

.text-center{
    text-align: center;
}